.Box {
    margin: auto;
    margin-top: 5%;
    align-items: center;
    background-color: #aeafb11e;
    width: 250px;
    height: 130px;
}/*
input[type=text]{
    
}
input[type=password]{
    
}
input[type=submit]{
    
}*/